@page "/"
@using MySqlManager.Services
@using MySqlManager.Dtos
@inject MySqlManagerService MySqlManagerService
@inject SettingsService SettingsService
@attribute [StreamRendering]

@if (_errors != null)
{
    @foreach (var error in _errors)
    {
        <div class="alert alert-danger">@error</div>
    }
}


@if (_serverInformation != null)
{
    <div class="card">
        <div class="card-header">
            <i class="nf nf-cod-server"></i> Server Information
        </div>
        <div class="card-body">
            Server Type: @_serverInformation.ServerType<br/>
            Version: @_serverInformation.Version <br/>
            Protocol Version: @_serverInformation.ProtocolVersion <br/>
            OS: @_serverInformation.VersionCompileOs
        </div>
    </div>
}
else
{
    if (_loading)
    {
        <text>Loading...</text>
    }
    else
    {
        if (string.IsNullOrEmpty(SettingsService.Settings?.ConnectionString))
        {
            <div class="alert alert-warning">Please configure your connection string!</div>
            
            <div class="mb-3">
                <label for="host" class="form-label">Host</label>
                <input id="host" class="form-control" type="text" @bind="ConfigHost" required />
            </div>
            <div class="mb-3">
                <label for="port" class="form-label">Port</label>
                <input id="port" class="form-control" type="text" @bind="ConfigPort" required />
            </div>
            <div class="mb-3">
                <label for="user" class="form-label">User</label>
                <input id="user" class="form-control" type="text" @bind="ConfigUser" required />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input id="password" class="form-control" type="text" @bind="ConfigPassword" />
            </div>
            <button class="btn btn-primary" @onclick="SaveConfigButton">Save Configuration</button>
        }
        else
        {
            // No connection possible -> change settings or something
            <div class="alert alert-danger">No server connection possible. Please make sure your server is running.</div>
        }
    }
}


@code {

    private ServerInformationDto? _serverInformation;
    private bool _loading = true;
    private List<string>? _errors;
    
    private string? ConfigHost { get; set; }
    private string? ConfigPort { get; set; }
    private string? ConfigUser { get; set; }
    private string? ConfigPassword { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _serverInformation = null;
        _errors = new List<string>();
        await LoadServerVersion();
    }

    private async Task LoadServerVersion()
    {
        if (await MySqlManagerService.IsConnectionPossible())
        {
            Console.WriteLine("Loading server version...");
            _serverInformation = await MySqlManagerService.GetServerVersion();
            //await InvokeAsync(StateHasChanged);
            Console.WriteLine("Loaded. Result: " + _serverInformation);
        }
        else
        {
            _loading = false;
        }
    }

    private void SaveConfigButton()
    {
        _errors = new List<string>();

        if (string.IsNullOrEmpty(ConfigHost))
        {
            _errors.Add("Host is empty.");
            return;
        }
        if (string.IsNullOrEmpty(ConfigPort))
        {
            _errors.Add("Port is empty.");
            return;
        }
        if (string.IsNullOrEmpty(ConfigUser))
        {
            _errors.Add("User is empty.");
            return;
        }
        
        SettingsService.SetConnectionString(ConfigHost, ConfigPort, ConfigUser, ConfigPassword ?? "");
    }

}