@page "/database/{Database}"
@using MySqlManager.Components.Layout
@using MySqlManager.Dtos
@using MySqlManager.Services
@implements IDisposable
@inject TableInformationService TableInformationService
@inject SettingsService SettingsService
@inject TopRowService TopRowService
@inject OverlayService OverlayService
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [StreamRendering]


<h1>Database Overview</h1>
Parameter: @Database

@if (_tableList == null)
{
    if (_loading)
    {
        <div class="mt-4">Loading...</div>
    }
}
else
{
    <div class="mt-4">
        <table class="table table-sm table-bordered table-striped">
            <thead>
            <tr>
                <th>Table</th>
                <th>Rows</th>
                <th>Engine</th>
                <th>Collation</th>
                <th>Size</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var table in _tableList)
            {
                <tr>
                    <td><a href="@($"/database/{Database}/table/{table.Name}")">@table.Name</a></td>
                    <td>@table.Rows</td>
                    <td>@table.Engine</td>
                    <td>@table.Collation</td>
                    <td>
                        @if (table.SizeInMb < 1)
                        {
                            var sizeInKb = Math.Round((decimal)table.SizeInMb * 1000, 1);
                            <text>@sizeInKb.ToString("F1") KB</text>
                        }
                        else if(table.SizeInMb > 1000)
                        {
                            var sizeInGb = Math.Round((decimal)table.SizeInMb / 1000, 1);
                            <text>@sizeInGb.ToString("F1") GB</text>
                        }
                        else if(table.SizeInMb != null)
                        {
                            var sizeInMb = Math.Round((decimal)table.SizeInMb, 1);
                            <text>@sizeInMb.ToString("F1") MB</text>
                        }
                    </td>
                    <td>
                        <a style="cursor:pointer;" @onclick="@(e => { TruncateTable(table.Name); })">Truncate</a>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#truncateModal" data-bs-table-name="@(table.Name)">
                            Truncate
                        </button>
                    </td>
                </tr>
            }
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    @if (_databaseSizeInMb < 1)
                    {
                    var sizeInKb = Math.Round((decimal)_databaseSizeInMb * 1000, 1);
                    <text>@sizeInKb.ToString("F1") KB</text>
                    }
                    else if(_databaseSizeInMb > 1000)
                    {
                    var sizeInGb = Math.Round((decimal)_databaseSizeInMb / 1000, 1);
                    <text>@sizeInGb.ToString("F1") GB</text>
                    }
                    else if(_databaseSizeInMb != null)
                    {
                    var sizeInMb = Math.Round((decimal)_databaseSizeInMb, 1);
                    <text>@sizeInMb.ToString("F1") MB</text>
                    }
                </th>
                <th></th>
            </tr>
            </tbody>
        </table>
    </div>
                    
    <div class="modal" tabindex="-1" id="truncateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div> 
}


@code {
    private List<TableInformation>? _tableList;
    private bool _loading;
    private decimal? _databaseSizeInMb;

    [Parameter]
    public string? Database { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _tableList = null;
        _loading = true;
        _databaseSizeInMb = null;
        TopRowService.SetTopRowForDatabaseView(Database, "overview");
        await Task.Delay(5);
        await LoadTableList();
    }

    public void Dispose()
    {
        TopRowService.ClearTopRow();
    }

    private async Task LoadTableList()
    {
        // todo fix for those databases
        if (Database == null) return;
        if (Database == "mysql") return;
        if (Database == "sys") return;
        if (Database == "performance_schema") return;
        if (Database == "information_schema") return;
        Console.WriteLine("Loading table list...");
        _tableList = await TableInformationService.GetTableList(Database, true);
        GetDatabaseSize();
        _loading = false;
    }

    private void GetDatabaseSize()
    {
        _databaseSizeInMb = 0;
        if (_tableList == null)
            return;
        foreach (var item in _tableList)
        {
            _databaseSizeInMb += item.SizeInMb;
        }
    }

    private void TruncateTable(string? tableName)
    {
        // todo remove, deprecated
        Console.WriteLine("Truncate Table: " + tableName);
        OverlayService.SetOverlay("Truncate " + tableName, _builder =>
        {
            var seq = -1;
            _builder.AddContent(++seq, "Do you really want to truncate this table?");
        });
        OverlayService.ShowOverlay();
    }

    
}