@using MySqlManager.Dtos
@using MySqlManager.Services
@inherits LayoutComponentBase
@inject MySqlManagerService MySqlManagerService

<CascadingValue Value="this">
    <div class="page">
        <div class="sidebar">
            <NavMenu/>
        </div>

        <main>
            <div class="top-row px-0 ps-0" id="toprow">
                @TopRow
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private RenderFragment? TopRow { get; set; }
    // public List<DatabaseInformation>? DatabaseList { get; set; }
    
    // protected override async Task OnInitializedAsync()
    // {
    //     DatabaseList = null;
    //     await LoadDatabaseList();
    // }

    private void SetTopRow(RenderFragment content)
    {
        TopRow = content;
        StateHasChanged();
    }

    public void SetTopRowForTableView(string? database, string? table, string? active = null)
    {
        SetTopRow(@<div class="container-fluid">
            <ul class="list-unstyled d-flex flex-row align-items-center">
                <li class=""><a class="btn btn-primary ms-0 me-2 mt-3 @(active == "browse" ? "active" : "")" href="@($"/database/{database}/table/{table}")">Browse</a></li>
                <li class=""><a class="btn btn-primary me-2 mt-3 @(active == "sql" ? "active" : "")" href="@($"/database/{database}/table/{table}/sql")">SQL</a></li>
                <li class=""><a class="btn btn-primary me-2 mt-3 @(active == "search" ? "active" : "")" href="@($"/database/{database}/table/{table}/search")">Search</a></li>
                <li class=""><a class="btn btn-primary mt-3 @(active == "insert" ? "active" : "")" href="@($"/database/{database}/table/{table}/insert")">Insert</a></li>
            </ul>
        </div>);
    }
    
    // public async Task LoadDatabaseList()
    // {
    //     DatabaseList = null;
    //     if (await MySqlManagerService.IsConnectionPossible())
    //     {
    //         Console.WriteLine("Loading database list...");
    //         DatabaseList = await MySqlManagerService.GetDatabaseList(false);
    //     }
    // }
}